_custom.el
smex-items
tree-sitter/
tramp/
tramp
history
projects
places
server/
.emacs.desktop
fontaine-latest-state.eld
recentf
etc/
var/
elpa/
packages/
.lsp-session-v1
auto-save-list/
eln-cache/
ido.last
transient/
eshell/
.mc-lists.el

*~
*.elc
.cask
